<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead"></head>
	
	<body>
		<nav th:replace="template :: admin_navigation"></nav>
		<form action="/admin/update/lessonorder" method="post">
			<table>
				<tr>
					<th>Order</th>
					<th>Name</th>
				</tr>
				<tr th:each="lesson,counter : ${lessons}">
					<td>
						<select th:name="'newOrder'+${counter.count}">
							<option th:each="number : ${counter.size}" th:value="${numberStat.count}" th:text="${numberStat.count}"></option>
						</select>
						<input type="hidden" th:name="'uid'+${counter.count}" th:value="${lesson.uid}"></input>
					</td>
					<td th:text="${lesson.title}"></td>
				</tr>
			</table>
			<input type="hidden" name="counter" th:value="${lessons.size()}"></input>
			<input type="submit" value="Save"></input>
		</form>
	</body>
	
</html>