<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead"></head>
	
	<body>
		<nav th:replace="templtate :: admin_navigation"></nav>
		<form action="/admin/update/lessonorder">
			<table>
				<tr>
					<th>Order</th>
					<th>Name</th>
				</tr>
				<tr th:each="lesson,counter : ${lessons}">
					<td>
						<select name="'newOrder'+${counter}">
							<option th:each="number : ${counter}" value="${numberStat}"></option>
						</select>
						<input type="hidden" name="'uid'+${counter}" value="${lesson.uid}"></input>
					</td>
					<td th:text="${lesson.name}"></td>
				</tr>
			</table>
			<input type="hidden" name="counter" value="${lessons.size()}"></input>
			<input type="submit" value="Save"></input>
		</form>
	</body>
	
</html>