<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<nav th:replace="template :: admin_navigation"></nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item center-block" th:src="${lesson.videoRef}" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
					</div>
					<br></br>
					<div>
						<h3>lesson notes:</h3>
						<p th:text="${lesson.body}"></p>
					</div>
				</div>
			</div>
		</div>
	</body>
	
</html>

