<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>

	<body>
		<nav th:replace="template :: user_navigation"></nav>
		
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-sm-3 col-lg-2">
		      <nav class="navbar navbar-default navbar-fixed-side">
		      	<div class="container-fluid">
					<div class="nav sidebar-nav">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
							<span class="icon-bar"></span>
	        				<span class="icon-bar"></span>
	        				<span class="icon-bar"></span>
	      				</button>
						<a class="navbar-brand">
							Lessons
						</a>
					</div>
					
					<div class="collapse navbar-collapse" id="sidebar">
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item" th:each="lesson : ${lessons}"><a th:href="'/u/classroom/'+${lesson.uid}" th:text="${lesson.title}"></a></li>
						</ul>
					</div>
				</div>
		      </nav>
		    </div>
		    <div class="col-sm-9 col-lg-10">
		    	<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item center-block" th:src="${single_lesson.videoRef}" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
					</div>
					<br></br>
					<div>
						<h3>lesson notes:</h3>
						<p th:text="${single_lesson.body}"></p>
					</div>
				</div>
		    </div>
		</div>
	</body>
</html>