<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<nav th:replace="template :: user_navigation"></nav>
		
		<div th:if="${headline}!=null" class="headline">
			<h1 th:text="${headline.title}"></h1>
			<p th:text="${headline.body}"></p>
		</div>
		
		<section>
			<article>
				<h1>Blog Highlights</h1>
				<p>Highlight from the blog posts</p>
			</article>
			
			<article>
				<h1>Did you know?</h1>
				<p>Random link to one of the inputted definitions</p>
			</article>
		
			<article>
				<h1>Planning State</h1>
				<p>Status of user's planning in MyPlan.</p>
			</article>
			
			<article>
				<h1>Class Status</h1>
				<p>A thumbnail link to the specific video that the user left off in.</p>
			</article>
		</section>		
		
		
	</body>
	
</html>