<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<nav>
			<img alt="logo" src="#">
		
			<form action="/login" method="POST">
				<input id="email" type="email">
				<input id="password" type="password">
				<input type="submit" value="Login">
			</form>	
		</nav>
		
		<section>
			<article>
				<h1>Why to buy me!</h1>
				<p>Kitsch +1 VHS messenger bag PBR&B, schlitz fanny pack mixtape leggings raclette polaroid twee celiac. Leggings truffaut organic neutra, narwhal typewriter tattooed gochujang meh snackwave 90's ethical YOLO af. Pabst truffaut mixtape, subway tile affogato kickstarter single-origin coffee keytar typewriter gastropub. Vinyl vegan sustainable franzen helvetica. Put a bird on it letterpress try-hard, austin squid hella yr chia asymmetrical gastropub whatever artisan. Lyft pok pok woke, copper mug food truck hot chicken hella pinterest synth affogato drinking vinegar raw denim brooklyn chia aesthetic. Tumblr franzen tattooed schlitz, sriracha retro hashtag bushwick four loko celiac literally brooklyn.</p>
			</article>
			
			<article>
				<h1>An example of the videos you watch!</h1>
				<iframe src="https://player.vimeo.com/video/198772828/38e2746400" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</article>
			
			<div>
				<a href="/signup">Signup</a>
			</div>
		</section>
		
	</body>
</html>