<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
					<a class="navbar-brand" href="http://www.mamawisebirth.com/" target="_blank">
						<img alt="logo" src="mamawise_logo.jpg"></img>
					</a>
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
						</li>
						
						<li class="nav-item">
							<form class="navbar-form" action="/signin" method="POST">
								<div class="form-group">
									<label class="sr-only" for="email">Email</label>
									<input class="form-control" id="email" name="username" type="email" placeholder="email"></input>
								</div>
								<div class="form-group">
									<label class="sr-only" for="password">Password</label>
									<input class="form-control" id="password" name="password" type="password" placeholder="password"></input>
								</div>
								<input type="submit" value="Login"></input>
							</form>
						</li>
					
					</ul>
					
					
					
				</div>
					
				
				
			</div>
			
		
			
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div  class="col-sm-8">
					<h1 class="text-center">Why to buy me!</h1>
					<p class="text-center">Kitsch +1 VHS messenger bag PBRB, schlitz fanny pack mixtape leggings raclette polaroid twee celiac. Leggings truffaut organic neutra, narwhal typewriter tattooed gochujang meh snackwave 90's ethical YOLO af. Pabst truffaut mixtape, subway tile affogato kickstarter single-origin coffee keytar typewriter gastropub. Vinyl vegan sustainable franzen helvetica. Put a bird on it letterpress try-hard, austin squid hella yr chia asymmetrical gastropub whatever artisan. Lyft pok pok woke, copper mug food truck hot chicken hella pinterest synth affogato drinking vinegar raw denim brooklyn chia aesthetic. Tumblr franzen tattooed schlitz, sriracha retro hashtag bushwick four loko celiac literally brooklyn.</p>
				</div>
						
			
				<div class="col-sm-8">
					<h1 class="text-center">An example of the videos you watch!</h1>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/198772847" width="640" height="360" ></iframe>
					</div>
				</div>
			</div>
			
		</div>
		
	</body>
</html>