<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<div>
			<div th:if="${param.signout != null}" class="alert alert-success">
				You have been signed out.
			</div>
			<div th:if="${param.error != null}" class="error" class="alert alert-danger">
				Either the username or password are incorrect
			</div>
			<form action="/signin" method="POST">
				<div class="form-group">
					<label for="email">Email:</label>
					<input class="form-control" id="email" name="username" type="email" th:value="${email}"></input>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input class="form-control" id="password" name="password" type="password"></input>
				</div>
				<input type="submit"></input>
			</form>
		</div>
	</body>
	
</html>