<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
	
		<div>
			<h1>Stuff about payment plans</h1>
			<p>Vice ethical brooklyn you probably haven't heard of them. Twee DIY pitchfork, migas tofu unicorn crucifix cliche fashion axe lo-fi organic messenger bag. Farm-to-table gastropub flexitarian, lyft pop-up 8-bit fashion axe keytar vape food truck bicycle rights hell of pour-over. Cray 8-bit four dollar toast street art portland kombucha brunch. Aesthetic helvetica freegan selvage, kinfolk church-key gluten-free activated charcoal. Cliche heirloom fanny pack marfa post-ironic hell of, hella affogato. Art party irony organic taxidermy chia.</p>
		</div>
		
		<div>
			<form action="/signup" method="POST">
				<label>Email:<input name="email" type="text" th:value="${email}"></input></label>
				<span class="error" th:text="${email_error}"></span>
				<label>Password:<input name="password" type="password"></input></label>
				<span class="error" th:text="${password_error}"></span>
				<label><input name="verify" type="password"></input></label>
				<span class="error" th:text="${verify_error}"></span>
				<input type="submit"></input>
			</form>
		</div>
	</body>
	
</html>