<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: dochead">
	</head>
	
	<body>
		<div>
			<div th:if="${param.signout != null}"><p>You have been sign out.</p></div>
			<div th:if="${param.error != null}" class="error"><p>Either the username or password are incorrect</p></div>
			<form action="/signin" method="POST">
				<label>Email:<input name="username" type="email" th:value="${email}"></input></label>
				<label>Password:<input name="password" type="password"></input></label>
				<input type="submit"></input>
			</form>
		</div>
	</body>
	
</html>